.wrapper {
   font-family: var(--font-family);
   display: flex;
   align-items: center;
   flex-direction: column;
   min-height: 1080px;
   .container {
      width: var(--default-layout-width);
      flex: 1;
   }
   .btnGoToTop {
      position: fixed;
      right: 30px;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      padding: 20px;
      border-radius: 45px;
      background: var(--primary);
      border: none;
      outline: none;
      cursor: pointer;
      .icon {
         color: var(--white);
      }
      &:hover {
         background: var(--primary-hover);
      }
   }
}
