.wrapper {
   button {
      background: #fff;
   }
   .title {
      font-size: 1.6rem;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 5px;
   }
   .list-filter {
      display: flex;
      // height: 40px;
      .ready,
      .price,
      .discount,
      .ram,
      .memory {
         height: 100%;
         padding: 0 5px;
      }
      .ready {
         width: 15%;
      }
      .price {
         width: 30%;
         div {
            // background: #fff;
         }
      }
      .discount {
         width: 15%;
      }

      .memory {
         width: 33%;
      }
   }

   .list-sort {
      display: flex;
      // height: 40px;
      align-items: center;
      .sort-name,
      .sort-price {
         padding: 0 5px;
         height: 100%;
         width: 20%;
      }
   }
   .btnSubmit {
      margin-top: 10px;
   }
}
@media only screen and (max-width: 420px) {
   .wrapper {
      padding: 0px 10px;
      button {
         background: #fff;
      }
      .title {
         font-size: 1.6rem;
         font-weight: 600;
         margin-top: 15px;
         margin-bottom: 5px;
      }
      .list-filter {
         flex-wrap: wrap;
         .ready,
         .price,
         .discount,
         .ram,
         .memory {
            height: 100%;
         }
         .ready {
            width: 50%;
         }
         .price {
            margin-top: 10px;
            width: 100%;
         }
         .discount {
            width: 50%;
         }
         .memory {
            width: 50%;
         }
      }

      .list-sort {
         .sort-name,
         .sort-price {
            width: 50%;
         }
      }
      .btnSubmit {
         margin-top: 10px;
      }
   }
}
