.search {
   width: 100%;
   font-family: var(--font-family);
   position: relative;
   height: var(--search-height);
   display: flex;
   background-color: rgb(255, 255, 255, 0.9);
   border-radius: var(--search-border-radius);
   padding-left: 16px;

   input {
      max-width: calc(var(--search-width) - 110px);
      flex: 2;
      color: var(--black);
      height: 100%;
      font-size: 1.6rem;
      caret-color: var(--primary);
   }

   input:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35, 0.8);
   }

   &::after {
      content: '';
      position: absolute;
      height: calc(var(--search-height) - var(--search-top-spacer) * 2);
      width: 1px;
      background-color: rgba(22, 24, 35, 0.12);
      top: var(--search-top-spacer);
      right: var(--search-button-width);
   }
   &:focus-within {
   }
}
.clear,
.loading {
   position: absolute;
   top: 50%;
   right: calc(var(--search-button-width) + 16px);
   transform: translateY(-50%);
   color: rgba(22, 24, 35, 0.5);
   cursor: pointer;
}
.loading {
   animation: spinner 0.5s linear infinite;
}
@keyframes spinner {
   0% {
      transform: translateY(-50%) rotate(0deg);
   }
   100% {
      transform: translateY(-50%) rotate(360deg);
   }
}
.search-btn {
   right: 0;
   position: absolute;
   width: var(--search-button-width);
   height: 100%;
   border-top-right-radius: var(--search-border-radius);
   border-bottom-right-radius: var(--search-border-radius);
   color: rgba(22, 24, 35, 0.6);
   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
      cursor: pointer;
   }
   font-size: 2rem;
   &:active {
      background-color: rgba(22, 24, 35, 0.06);
   }
}
@media only screen and (max-width: 420px) {
   .search-result {
      box-shadow: var(--box-shadow-thick);
      border-radius: 10px;
      margin: 0 auto;
      max-width: 420px;
   }
   .search {
      height: calc(var(--search-height) - 6px);
      max-width: calc(var(--search-width) / 1.75);
      width: 100%;
      input {
         width: 100%;
         max-width: calc(var(--search-width) / 2);
         font-size: 1.4rem;
      }

      &::after {
         top: calc(var(--search-top-spacer) - 3px);
      }
   }
}
