@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
:root {
   //color
   // --primary: #d70018;
   // --primary: #db4906;
   --primary: #8151b8;
   --primary-hover: rgb(126, 44, 173);
   --primary-light: rgba(129, 81, 184, 0.5);
   --white: #f8f8f8;
   --black: #000;
   --text-color: #333;
   --light-gray: rgb(243, 243, 243);

   --default-layout-header-height: 60px;
   --default-layout-width: 1200px;
   --search-box-width: 350px;
   --font-family: 'Montserrat', sans-serif;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
   font-size: 62.5%;
}
body {
   font-family: var(--font-family);
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
   outline: none;
   border: none;
   background-color: transparent;
}
a[href] {
   color: var(--text-color);
   text-decoration: none;
}
