.banner-img {
   font-family: var(--font-family);

   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
   background-position-x: center;
}
