.wrapper {
   //    width: 50%;
   display: flex;
   .box-product {
      width: 70%;
      display: flex;
      flex-direction: column;
      .product {
         padding: 15px 20px;
         background: #fff;
         border-radius: 10px;
         margin-top: 10px;
         margin-bottom: 10px;
         box-shadow: var(--box-shadow-light);
         max-height: 250px;
      }
   }
   .box-button {
      //   margin-top: 10px;
      width: 30%;
      padding: 10px;
      .info {
         .item {
            display: flex;
            justify-content: space-between;
            p {
               padding: 20px 0px;
               font-size: 1.6rem;
            }
            .content {
               font-weight: 600;
            }
         }
      }
      .button {
         height: 50px;
         color: #fff;
         width: 100%;
         background: var(--primary);
         font-size: 1.4rem;
         font-weight: 500;
         cursor: pointer;
         //  border-radius: 5px;
      }
   }
}
