.root {
   font-size: 1.4rem;
   font-weight: 500;
   height: 100%;
   width: 100%;
   cursor: pointer;
   .control {
      display: flex;
      align-items: center;
      height: 100%;
      border-radius: 10px;
      box-shadow: var(--box-shadow-light);
      border: none;
      &:hover {
         background-color: var(--white);
      }
   }
   .menu {
      box-shadow: var(--box-shadow-thick);
      border-radius: 10px;
      margin-top: 5px;
      font-weight: 500;
      border: none;
   }
}
.wrapper-custom {
   font-size: 1.4rem;
   font-weight: 500;
   height: 100%;
   width: 100%;
   cursor: pointer;
   .control-custom {
      display: flex;
      align-items: center;
      height: 100%;
      border-radius: 10px;
      box-shadow: var(--box-shadow-light);
      border: none;
      cursor: pointer;

      &:hover {
         background-color: var(--white);
      }
   }
   .menu-custom {
      box-shadow: var(--box-shadow-thick);
      border-radius: 10px;
      margin-top: 5px;
      font-weight: 500;
      border: none;
      .group {
         width: 100%;
      }
   }
}
