.wrapper {
   --width-info-percent: 63%;
   --width-distance-info-percent: 5.5%;
   --height: 500px;
   width: 100%;
   height: 100%;
   .container {
      display: flex;
      position: relative;
      margin: 0 auto;
      width: 70%;
      margin-top: 20px;
      height: var(--height);
      background: rgb(235, 235, 235);
      border-radius: 10px;
      box-shadow: var(--box-shadow-thick);
      overflow: hidden;
      .bg {
         position: absolute;
         height: 150%;
         width: 100%;
         z-index: 00;
         transform: translate(-70%, -30%) rotate(45deg);
         background: linear-gradient(to bottom right, var(--primary) 45%, var(--light-gray) 80%);
         opacity: 0.6;
      }
      .icon {
         position: absolute;
         height: 40%;
         transform: translate(15%, 45%) rotate(-25deg);
         display: flex;
         align-items: center;
         z-index: 1;
         img {
            height: 100%;
            object-fit: contain;
         }
      }
      .content {
         position: absolute;
         height: 50%;
         width: 50%;
         right: 0;
         display: flex;
         flex-direction: column;
         padding: 0 20px;
         .title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            font-size: 2rem;
            font-weight: 700;
            height: 30%;
         }
         .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            input {
               width: 100%;
               font-size: 1.4rem;
               padding: 15px 15px;
               background: var(--white);
               border-radius: 7px;
               margin-bottom: 20px;
            }
         }
         .check {
            background: var(--primary);
            color: var(--white);
            width: 50%;
            margin: 0 auto;
         }
      }
      .result {
         position: absolute;
         height: 45%;
         width: 100%;
         right: 0;
         bottom: 0;
         display: flex;
         flex-direction: column;
         padding: 0 20px;
         div {
            height: 100%;
            font-size: 1.4rem;
            margin-left: auto;
            margin-right: 0;
            display: flex;
         }
         .name {
            width: calc(var(--width-info-percent) + var(--width-distance-info-percent) * 0);
         }
         .phone {
            width: calc(var(--width-info-percent) + var(--width-distance-info-percent) * 1);
         }
         .date {
            width: calc(var(--width-info-percent) + var(--width-distance-info-percent) * 2);
         }
         .status {
            width: calc(var(--width-info-percent) + var(--width-distance-info-percent) * 3);
         }
         .address {
            width: calc(var(--width-info-percent) + var(--width-distance-info-percent) * 4);
         }
      }
   }
}
