.wrapper {
   display: flex;
   flex-direction: column;
   font: var(--font-family);
   height: 100%;
   width: 100%;
   padding: 10px 10px;
   border-radius: 10px;
   font-size: 1.4rem;
   font-weight: 500;
   cursor: pointer;
   box-shadow: var(--box-shadow-light);
   &:hover {
      box-shadow: var(--box-shadow-thick);
   }
   .img {
      height: 60%;
      object-fit: contain;
   }
   .discountPercent {
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      transform: translate(-6%, -10%);

      .detail {
         display: flex;
         position: absolute;
         top: 0;
         left: 0;
         margin-top: 3px;
         margin-left: 6px;
      }
      .detail,
      .percent {
         color: var(--white);
         font-family: var(--font-family);
         font-size: 1.2rem;
         font-weight: 500;
      }
   }
   .name {
      height: 10%;
      font-size: 1.6rem;
      font-weight: 600;
   }
   .price {
      height: 10%;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .originalPrice {
         font: var(--font-family);
         width: 100%;
         font-size: 1.3rem;
         text-align-last: right;
         text-decoration-line: line-through;
      }
      .discountPrice {
         font-family: var(--font-family);
         width: 100%;
         font-weight: 600;
         text-align-last: left;
         color: var(--primary);
      }
   }
   .info {
      height: 10%;
      font-size: 1.3rem;
      border-radius: 5px;
      background: var(--light-gray);
      display: flex;
      align-items: center;
      justify-content: center;
      p {
         padding: 5px 0px;
         margin-left: 5px;
      }
   }
   .function {
      display: flex;
      align-items: center;
      height: 10%;
      width: 100%;
      .wishlist {
         width: 100%;
         .icon {
            color: var(--primary);
            margin-left: 3px;
         }
      }
      .cart {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100%;
         width: 100%;
         float: right;
         font-size: 1.2rem;
         border-radius: 5px;
         color: var(--white);
         background-color: var(--primary);
         cursor: pointer;
         &:hover {
            background-color: var(--primary-hover);
         }
      }
   }
}
