.list-content {
   font-family: var(--font-family);
   display: flex;
   height: 100%;
   width: 100%;
   box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
   background-color: var(--white);
   border-radius: 10px;
   padding: 5px 15px;
   font-size: 1.4rem;
   font-weight: 500;
   .type {
      width: 25%;
   }
}
