.wrapper {
   box-shadow: 1px 1px 2px 1px rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
   height: 90%;
   width: 100%;
   padding: 20px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   .name {
      font-size: 1.6rem;
      font-weight: 600;
   }
   .price {
      // display: flex;
      font-size: 1.4rem;
      width: 100%;
      .originalPrice,
      .discountPrice {
         font: var(--font-family);
         width: 50%;
      }
      .originalPrice {
      }
      .discountPrice {
         float: right;
      }
   }
}
