.wrapper {
   padding: 10px 10px;
   display: flex;
   align-items: center;
   cursor: pointer;
   &:hover {
      background-color: #f0f0f0;
   }
}
.thumbnail {
   width: 60px;
   height: 60px;
   object-fit: cover;
}
.info {
   flex: 1;
   margin-left: 2px;
}
.name {
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.5;
}
.price {
   font-size: 1.4rem;
   font-weight: 600;
   color: var(--primary);
}
