.wrapper {
   font-family: var(--font-family);
   align-items: center;
   padding: 10px 10px;
   display: flex;
   align-items: center;
   cursor: pointer;
   border-radius: 10px;
   &:hover {
      background-color: #f0f0f0;
   }
}
.thumbnail {
   width: 57px;
   height: 57px;
   object-fit: fill;
}
.info {
   flex: 1;
   margin-left: 10px;
}
.name {
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.5;
}
.price {
   font-size: 1.4rem;
   font-weight: 600;
   color: var(--primary);
}
