.wrapper {
   width: 100%;
   height: 100%;
   display: block;
   --title-height: 40px;

   .title {
      height: var(--title-height);
      width: 100%;
      font-weight: 700;
      font-size: 2rem;
      flex: 1;
   }
   .swiper-wrapper {
      height: calc(var(--box-products-height) - var(--title-height));
      width: 100%;
      //   height: 100%;
      padding: 5px;
      --pagination-bullet-thick: 0.5rem;
      :global(.swiper-pagination-bullet) {
         background-color: var(--primary-light);
         width: var(--pagination-bullet-thick);
         height: var(--pagination-bullet-thick);
         // border-radius: 1rem;
         opacity: 1;
      }

      :global(.swiper-pagination-bullet-active) {
         background-color: var(--primary);
         width: 3rem;
         height: var(--pagination-bullet-thick);
         border-radius: 0.3rem;
      }
      .swiper-slide {
         //  height: calc(var(--box-products-height) / 2 - var(--title-height));
         height: 45%;
         text-align: center;
         font-size: 18px;
         background: #fff;
         display: -webkit-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
      }
   }
}
