.wrapper {
   font-family: var(--font-family);
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 400px;
   width: 100%;
   background-color: var(--white);
   // margin-top: 100px;
}
.inner {
   height: 100%;
   width: var(--default-layout-width);
   margin: 0 auto;
   .footer-body {
      display: flex;
      align-items: center;
      height: 90%;
      width: 100%;
      .accordion-group {
         display: flex;
         align-items: center;
         width: 40%;
         height: 100%;
         .accordion {
            margin-right: 70px;
            width: 100%;
            ul {
               list-style: none;
               list-style-type: none;
            }
            .footer-link {
               font-size: 1.2rem;
               font-weight: 600;
               padding: 15px 0px;
            }
         }
      }
      .map-container {
         height: 90%;
         width: 40%;
      }
      .social-menu {
         display: flex;
         // align-items: center;
         flex-direction: column;
         justify-content: center;
         height: 100%;
         width: 20%;
         a {
            padding: 20px 60px;
            // height: 80%;
            display: flex;
            align-items: center;
            .icon {
               font-size: 2rem;
               padding: 5px;
            }
         }
      }
   }
   .sub-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      .icon {
         padding: 0px 5px;
      }
      .information {
         flex: 1;
         margin-left: 10px;
      }
      .help {
         margin-left: 10px;
      }
   }
}
