.wrapper {
   width: 100%;
   .btnPrice {
      width: 100%;
   }
   .tippy {
      background: #fff;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      .box {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;
         padding: 5px 10px;
         border-radius: 10px;
         box-shadow: var(--box-shadow-thick);
         .slider {
            width: 90%;
            span {
               color: var(--primary);
            }
         }
         .price {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            .min,
            .max {
               font-family: var(--font-family);
               font-size: 1.4rem;
            }
            .max {
               text-align-last: right;
            }
            .min {
               text-align-last: left;
            }
         }
      }
   }
}
