.wrapper {
   --row-height: 375px;
   display: block;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
   .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
      grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
      grid-auto-flow: row dense;
      justify-content: center;
      align-content: center;
      .box {
         padding: 0 5px;
         height: 100%;
         display: block;
         .item {
            height: 100%;
         }
      }
   }
}
