.wrapper {
   display: flex;
   flex-direction: column;
   // justify-content: center;
   width: 100%;
   height: 100%;
   padding: 14px 16px;
   box-shadow: var(--box-shadow-thick);
   .title {
      font-weight: 700;
      color: var(--primary);
   }
   .input {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      border: none;
      outline: none;
      .contact {
         display: flex;
         padding-top: 10px;
      }
      .contact-item {
         width: 100%;
         padding: 0px 2px;
         .contact-phone-input {
            div {
               border: none;
            }
            input {
               border: none;
               outline: none;
               box-shadow: var(--box-shadow-light);
               height: 40px;
               width: 100%;
               border-radius: 10px;
            }
         }
         .contact-item-input {
            width: 100%;
            height: 40px;
            padding: 0 14px;
            border-radius: 10px;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: var(--font-family);
            box-shadow: var(--box-shadow-light);
            background-color: #fff;
         }
      }
      span {
         font-size: 1.2rem;
      }
   }
}
