.wrapper {
   display: flex;
   flex-direction: column;
   //    justify-content: center;
   width: 100%;
   height: 100%;
   padding: 14px 16px;
   box-shadow: var(--box-shadow-thick);
   background: #fff;
   .title {
      height: 5%;
      font-weight: 700;
      color: var(--primary);
   }
   .total {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      div {
         display: flex;
         height: 100%;
         //  padding: 10px;
         p {
            flex: 1;
            text-align-last: right;
            font-weight: 500;
         }
      }
      .price-total {
         p {
            font-weight: 600;
         }
      }
   }
   .detail {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 65%;
      cursor: pointer;
      .detail-wrapper {
         display: flex;
         height: 50%;
         height: 50%;
         padding: 5px;
         .img {
            width: 40%;
            height: 100%;
         }

         .detail-info {
            display: flex;
            width: 57%;
            flex-direction: column;
            // justify-content: center;
            .detail-name {
               width: 100%;
               display: flex;
               align-items: center;
               font-weight: 500;
               .name {
                  width: 100%;
                  // font-family: var(--font-family);
               }
               padding-bottom: 5px;
            }
            .price {
               width: 100%;
               display: flex;
               align-items: flex-end;
            }
            .price-original,
            .discount,
            .price-total {
               width: 100%;
               padding: 16px 0;
               color: #000;
               font-size: 1.4rem;
               font-family: var(--font-family);
            }
            .discount {
               font-weight: 600;
               font-size: 1.6rem;
            }
            .price-original {
               font-weight: 500;
               font-style: italic;
               text-decoration: line-through;
            }
            .price-total {
               font-weight: 600;
               color: var(--primary);
            }
            .quantity {
               font-size: 1.4rem;
            }
         }
      }

      //custom scrollbar
      &::-webkit-scrollbar {
         width: 0.7rem;
      }
      &::-webkit-scrollbar-thumb {
         background-color: var(--primary);
         border-radius: 3px;

         &:hover {
            background: rgb(90, 63, 63);
         }
      }
   }
}
