.wrapper {
   height: 100%;
   width: 100%;
   display: flex;
}
.inner {
   font-family: var(--font-family);
   height: 100%;
   width: 100%;
   box-shadow: var(--box-shadow-light);
   // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 10px;
   display: grid;
}

.list {
   display: none;
   position: absolute;
   margin-left: calc(var(--menu-width));
   height: var(--block-top-height);
   min-width: calc(var(--swiper-width) + 5px);
   z-index: 900;
}
.wrapper:hover .list {
   display: block;
}
.menu-tree-item {
   width: 100%;
}
